<h1>Registration Numbers from Western Cape</h1>
{{!-- this is going to be an info box --}}
<p class="info">Enter a registration from Cape Town(CA), Paarl(CJ), Stellenbosch(CL), Malmesbury(CK)</p>
<div class="emptyInput"></div>

<div class="container">
    <form action="/registrations" method="POST">

        <p>Registration Number : <input type="text" class="textArea" id='reg_id' name="car_registration"
                placeholder="Enter registration number">
        </p>
        <p class="invalidMsg"></p>
        <div class="buttons">
            <button class="addRegNoBtn" type="submit">ADD</button>

            <button type="submit" formaction="/clear" onclick="return confirm('Are you sure you want to reset your data?')">CLEAR</button>
        </div>


    </form>
    {{!-- <form action="/clear" method="post"> --}}
    {{!-- </form> --}}
</div>


<br>
<form action="" method="POST">
    <div class="boxRegNo">
        <div>
            <label for="regNums">Select a town:</label>
            <select name="town" class="town">
                <option value="" disabled selected>Select your option </option>
                <option value="allTowns">All towns</option>
                <option value="capetown">Cape Town</option>
                <option value="paarl">Paarl</option>
                <option value="malmesbury">Malmesbury</option>
                <option value="stellenbosch">Stellenbosch</option>
                <option value="vredenburg">Vredenburg</option>

            </select>
        </div>
    </div>
</form>
<div class="font">
    {{#each regNum}}
    <p class="regNum">{{this.number}}</p>
    {{/each}}
</div>