<h1>Registration Numbers from Western Cape</h1>
{{!-- this is going to be an info box --}}
<p class="info">Enter a registration from Cape Town(CA), Paarl(CJ), Stellenbosch(CL), Malmesbury(CK), Kraaifontein(CF)
</p>

<div class="container">
    <form action="/registrations" method="POST">

        <p>{{errorMessage}}</p>



        <p>Registration Number : <input type="text" class="textArea" id='reg_id' name="car_registration"
                placeholder="Enter registration number">
        </p>
        <p class="invalidMsg"></p>
        <div class="buttons">
            <button class="addRegNoBtn" type="submit">ADD</button>
            {{!--
            <script>
                setTimeout(function () {
                    document.querySelector(".green").style.display = "none";
                }, 3000)
            </script> --}}
            {{#if reset}}<p class="green">{{reset}}</p>{{/if}}

            <button type="submit" formaction="/clear"
                onclick="return confirm('Are you sure you want to reset your data?')">CLEAR</button>
        </div>


    </form>

</div>


<br>
<form action="/filter" method="POST">
    <div class="boxRegNo">

        <div>
            <label for="regNums"></label>
            {{!-- <p>{{}}</p> --}}
            <select name="town" class="town">
                <option value="" disabled selected>Select your option </option>
                {{!-- <option value="allTowns">All towns</option> --}}
                <option value="1">Cape Town (CA)</option>
                <option value="2">Paarl (CJ)</option>
                <option value="3">Malmesbury (CK)</option>
                <option value="4">Stellenbosch(CL)</option>
                <option value="5">Kraaifontein(CF)</option>

            </select>
            <button type="submit" style="none">Submit</button>
        </div>
</form>
<div class="font">


    {{#each regNum}}
    <p class="regNum">{{this.number}}</p>
    {{/each}}
</div>
</div>